# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/

# Environment variables
.env
*.key

# Logs
*.log

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Embeddings
data/embeddings/

#runbooks
data/runbooks/*
!data/runbooks/runbook_template.xlsx
!data/runbooks/README.md
private.key
